name: Package python packages

on:
  workflow_call:
    inputs:
      matrix-config:
        required: true

jobs:
  build-packages:
    strategy:
      matrix:
        python-version: $({ fromJson(inputs.matrix-config).python_versions })
        os: $({ fromJson(inputs.matrix-config).oses })

    runs-on: ${{ matrix.os }}

    steps:
      - name: Install Windows dependencies
        if: runner.os == 'Windows'
        uses: msys2/setup-msys2@v2
        with:
          msystem: ucrt64
          install: >-
            base-devel
            mingw-w64-ucrt-x86_64-cmake
            mingw-w64-ucrt-x86_64-ninja
            mingw-w64-ucrt-x86_64-toolchain
          update: true
          location: D:\

      - name: Install Linux dependencies
        if: runner.os == 'Linux'
        uses: awalsh128/cache-apt-pkgs-action@v1
        with:
          packages: cmake ninja-build gcc
          version: 1.0

      - uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 0

      - name: Clone vendored software
        run: |
          cd vendor/speakeasy2
          git submodule init
          git submodule update --recursive

      - name: Set up python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"

      - name: Install python build packages
        run: |
          python -m pip install --upgrade pip
          python -m pip install build

      - name: Build wheel Windows
        if: runner.os == 'Windows'
        shell: msys2 {0}
        run: python -m build --wheel

      - name: Build wheel
        if: runner.os != 'Windows'
        run: python -m build --wheel

      - name: Build source dist
        if: (runner.os == 'Linux') && (matrix.python-version == '3.13')
        run: python -m build --sdist

      - name: Upload packages
        uses: actions/upload-artifact@v4
        with:
          name: speakeasy2-python-${{ matrix.os }}-${{ matrix.python-version }}-${{ github.sha }}
          path: dist/*
