name: Package python packages

on:
  - workflow_call

jobs:
  build-packages:
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
        os: [ubuntu-latest, windows-latest, macos-latest, macos-13]

    runs-on: ${{ matrix.os }}

    defaults:
      run:
        shell: ${{ matrix.os == 'windows-latest' && 'msys2 {0}' || 'bash' }}

    steps:
      - name: Install Windows dependencies
        if: runner.os == 'Windows'
        uses: msys2/setup-msys2@v2
        with:
          update: true
          location: D:\
          path-type: strict
          install: >-
            git
            base-devel
            mingw-w64-x86_64-cmake
            mingw-w64-x86_64-ninja
            mingw-w64-x86_64-toolchain
            mingw-w64-x86_64-libxml2

      - name: Install Linux dependencies
        if: runner.os == 'Linux'
        uses: awalsh128/cache-apt-pkgs-action@v1
        with:
          packages: cmake ninja-build gcc
          version: 1.0

      - uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 0

      - name: Clone vendored software
        run: |
          cd vendor/speakeasy2
          git submodule init
          git submodule update --recursive

      - name: Set up python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"

      - name: Install python build packages
        run: |
          $Python_ROOT_DIR/python -m pip install --upgrade pip
          $Python_ROOT_DIR/python -m pip install build

      - name: Build wheel
        run: $Python_ROOT_DIR/python -m build --wheel

      - name: Build source dist
        if: (runner.os == 'Linux') && (matrix.python-version == '3.13')
        run: python -m build --sdist

      - name: Upload packages
        uses: actions/upload-artifact@v4
        with:
          name: speakeasy2-python-${{ matrix.os }}-${{ matrix.python-version }}-${{ github.sha }}
          path: dist/*
