name: Package python packages

on:
  - workflow_call

env:
  PYTHON_VERSION: "3.10"

jobs:
  build-packages:
    strategy:
      matrix:
        os:
          [
            ubuntu-latest,
            ubuntu-24.04-arm,
            windows-latest,
            windows-11-arm,
            macos-15-intel,
            macos-latest,
          ]

    runs-on: ${{ matrix.os }}

    defaults:
      run:
        shell: ${{ contains(matrix.os, 'windows') && 'msys2 {0}' || 'bash' }}

    steps:
      - name: Install Windows dependencies
        if: runner.os == 'Windows'
        uses: msys2/setup-msys2@v2
        with:
          update: true
          location: D:\
          msystem: UCRT64
          install: >-
            git
            base-devel
            mingw-w64-ucrt-x86_64-cmake
            mingw-w64-ucrt-x86_64-ninja
            mingw-w64-ucrt-x86_64-toolchain
            mingw-w64-ucrt-x86_64-libxml2

      - name: Install Linux dependencies
        if: runner.os == 'Linux'
        uses: awalsh128/cache-apt-pkgs-action@v1
        with:
          packages: cmake ninja-build gcc
          version: 1.0

      - uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 0

      - name: Clone vendored software
        run: |
          cd vendor/speakeasy2
          git submodule init
          git submodule update --recursive

      - name: Set up python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: "pip"

      - name: Install python build packages
        run: |
          $Python_ROOT_DIR/python -m pip install --upgrade pip
          $Python_ROOT_DIR/python -m pip install build

      - name: Build wheel
        run: $Python_ROOT_DIR/python -m build --wheel

      - name: Build source dist
        if: runner.os == 'Linux'
        run: python -m build --sdist

      - name: Upload packages
        uses: actions/upload-artifact@v4
        with:
          name: speakeasy2-python-${{ matrix.os }}-${{ github.sha }}
          path: dist/*
